<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vlaesyvia</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/vlaesyvia.css">
</head>
<body>

    <header>
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="/">Vlaesyvia</a>
            </li>
            <div>
                <img src="https://picsum.photos/100/100" alt="Logo of the game Vlaesyvia">
            </div>
            <li>
                <a href="/">Log In</a>
            </li>
            <li>
                <a href="/">Contacts</a>
            </li>
        </ul>
    </header>
    <main>
        <section class="container">
            <h2>Introduction :</h2>
            <div class="flex">
                <div class="block-md container-purple">
                    <p>
                    In Vlaesyvia, players forge heroes to battle through story-driven levels where typing prowess becomes combat. Each character can wield four abilities either general or class-specific ones. Earn currency by defeating waves of enemies to unlock new abilities in the in-game store, where class-specific and universal upgrades await. Track your arsenal in the Codex — a visual inventory showing unlocked powers and locked ones. Compete globally in the endless mode surviving ever-stronger waves. Connect an account to save progress, create multiple heroes, and rise through the ranks.
                    </p>
                </div>
                <div class="block-lg flex flex-center flex-grow">
                    <img src="https://picsum.photos/1000/400" alt="Photo of the ongoing game">
                </div>
            </div>
        </section>
        <section class="container">
            <h2>World story :</h2>
            <div class="flex container-purple">
                <p>Humanity's progress has been trapped in a cruel cycle—each golden age shattered by cataclysms that plunge civilization back into ruin. After the latest collapse, survivors unearthed Vahter, a volatile elemental force that bends nature itself. To harness it, the Adventurer’s Guild arose: a coalition of Vahter-wielders called the Vahter-Touched, tasked with protecting humanity from the monstrous aberrations spawned by each new disaster. But over time, the Guild lost its way. What was once a group devoted to the people became controlled by the rich and powerful, the nobles who now use it for their own gain. As monstrous hordes surge, most skilled adventurers refuse to serve the Guild’s corrupted interests. Instead, they fight alone, defending their homes with scavenged Vahter relics and raw ingenuity.</p>
            </div>
        </section>
        <section class="container">
            <h2>Classes :</h2>
            <div class="flex flex-between">
                <div class="flex character-container">
                    <div class="container-red-gold">
                        <img src="../static/img/characters/Knight.png" alt="Image of the warrior class">
                    </div>
                    <p>Warrior</p>
                </div>
                <div class="flex character-container">
                    <div class="outline-purple">
                        <img class="bg-white" src="../static/img/characters/kunoichi.png" alt="Photo of the kunoichi class">
                    </div>
                    <p>Kunoichi</p>
                </div>
                <div class="flex character-container">
                    <div class="outline-purple">
                        <img class="bg-white" src="../static/img/characters/Wizard.png" alt="Photo of the mage class">
                    </div>
                    <p>Mage</p>
                </div>
            </div>
            <h3>Class Story :</h3>
            <div class="flex outline-red-gold">
                <p class="bg-white text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum laudantium accusamus sapiente eveniet quam similique adipisci commodi doloribus iure dolore! Cupiditate itaque cumque omnis ab consequuntur repudiandae deleniti dignissimos tempore.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum laudantium accusamus sapiente eveniet quam similique adipisci commodi doloribus iure dolore! Cupiditate itaque cumque omnis ab consequuntur repudiandae deleniti dignissimos tempore.</p>
            </div>
        </section>
    </main>
    <footer style="height: 400px;">
        <img>
        <div>
            <ul>
                <li></li>
                <li></li>
            </ul>
        </div>
    </footer>
</body>
</html>