section > div {
    gap:2dvw;
}

.text-black {
    margin: 1rem;
    color: black;
}

.character-container {
    flex-direction: column;
    align-items: center;
}

.character-container > p {
    color: black;
}

.character-container img {
    width: fit-content;
    object-fit: contain;
    object-position: center;
}

.container-purple{
    outline: solid 0.3rem black;
    background: rgb(115,0,113);
    background: -moz-linear-gradient(155deg, rgba(115,0,113,1) 70%, rgba(171,57,163,1) 91%, rgba(220,106,207,1) 100%);
    background: -webkit-linear-gradient(155deg, rgba(115,0,113,1) 70%, rgba(171,57,163,1) 91%, rgba(220,106,207,1) 100%);
    background: linear-gradient(155deg, rgba(115,0,113,1) 70%, rgba(171,57,163,1) 91%, rgba(220,106,207,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#730071",endColorstr="#dc6acf",GradientType=1);
    border-radius: 0.3rem;
}

.container-red-gold{
    outline: solid 0.3rem black;
    background: rgb(158,43,37);
    background: -moz-linear-gradient(145deg, rgba(158,43,37,1) 82%, rgba(203,161,53,1) 100%);
    background: -webkit-linear-gradient(145deg, rgba(158,43,37,1) 82%, rgba(203,161,53,1) 100%);
    background: linear-gradient(145deg, rgba(158,43,37,1) 82%, rgba(203,161,53,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9e2b25",endColorstr="#cba135",GradientType=1);
    border-radius: 0.3rem;
}

.outline-red-gold{
    background: rgb(158,43,37);
    background: -moz-linear-gradient(145deg, rgba(158,43,37,1) 82%, rgba(203,161,53,1) 100%);
    background: -webkit-linear-gradient(145deg, rgba(158,43,37,1) 82%, rgba(203,161,53,1) 100%);
    background: linear-gradient(145deg, rgba(158,43,37,1) 82%, rgba(203,161,53,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9e2b25",endColorstr="#cba135",GradientType=1);
    border-radius: 0.3rem;
}

.outline-purple{
    background: rgb(115,0,113);
    background: -moz-linear-gradient(200deg, rgba(115,0,113,1) 0%, rgba(220,106,207,1) 100%);
    background: -webkit-linear-gradient(200deg, rgba(115,0,113,1) 0%, rgba(220,106,207,1) 100%);
    background: linear-gradient(200deg, rgba(115,0,113,1) 0%, rgba(220,106,207,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#730071",endColorstr="#dc6acf",GradientType=1);
    border-radius: 0.3rem;
}

.bg-white{
    background-color: white;
    margin: 0.6rem;
    padding: 0.8rem;
}
