<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vlaesyvia</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <header>
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="vlaesyvia.html">Vlaesyvia</a>
            </li>
            <div>
                <img src="https://picsum.photos/100/100" alt="Logo of the game Vlaesyvia">
            </div>
            <li>
                <a href="login_signup.html">Log In</a>
            </li>
            <li>
                <a href="/">Contacts</a>
            </li>
        </ul>
    </header>
    <footer class="flex flex-center">
        <img src="https://picsum.photos/100/100" alt="Logo of the game Vlaesyvia">
        <ul>
            <li></li>
            <li></li>
        </ul>
    </footer>
</body>
</html>